
{% extends "header.html" %}

{% block body %}

    {% if output != "" %}

        <div class="alert alert-danger" role="alert" id="errorBox">
            {{ output }}
        </div>

    {% endif %}

    <div class="CharacterState">
        <h5 class="CharacterName">Chat with {{character_name}}</h5>
        <h5 class="EmotionState">Emotion: {{mood}}</h5>
    </div>
    
    <div class="scrollingLog">

        {%for key,value in chat_log.items()%}


            <h5 class="userquestion">{{user_name ~ " " ~ ":" ~ " " ~ value["Question"] ~ " - " ~ value["Time"]}}</h5>
            <h5 class="modelresponse">{{character_name ~ " " ~ ":" ~ " " ~ value["Answer"] ~ " - " ~ value["Time"]}}</h5>

        {%endfor%}

    </div>

    <form method="POST" class="InputBox" enctype="multipart/form-data">

        {{chatform.hidden_tag()}}

        
        <div class="input">{{chatform.InputChat(size=102)}}</div>
        <div class="SubmitBtn">{{chatform.Submit()}}</div>
        <div class="FileUploadBox">{{chatform.FileUploadBox()}}</div>
        <div class="STTbtn">{{ chatform.STTbtn() }}</div>

    </form>

    {% if chatform.errors %}
        <ul class="errors">
            {% for error in chatform.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <script>

        var STTRecording = false;
        var STTBtn = document.getElementById("STTbtn");

        function recordbtn(){

            if (STTRecording == false){

                STTRecording = true;

                STTBtn.value = "Recording...";

                STTBtn.className = "btn btn-danger";

            } else {

                STTRecording = false;

                STTBtn.value = "Record";

                STTBtn.className = "btn btn-success";

            }

        }

    </script>

{% endblock %}
