
{% extends "header.html" %}

{% block body %}

    {% if output != "" %}

        <div class="chatpageErrorBoxMargin">
            <div class="alert alert-danger" role="alert" id="errorBox">
                {{ output }}
            </div>
        </div>
    {% endif %}

    <div class="CharacterState">
        <h5 class="CharacterName">Chat with {{character_name}}</h5>
        <h5 class="EmotionState">Emotion: {{mood}}</h5>
    </div>
    
    <div class="scrollingLog">

        {%for key,value in chat_log.items()%}


            <h5 class="userquestion">{{user_name ~ " " ~ ":" ~ " " ~ value["Question"] ~ " - " ~ value["Time"]}}</h5>
            <h5 class="modelresponse">{{character_name ~ " " ~ ":" ~ " " ~ value["Answer"] ~ " - " ~ value["Time"]}}</h5>

        {%endfor%}

    </div>

    

    <form method="POST" class="InputBox" enctype="multipart/form-data">

        {{chatform.hidden_tag()}}

                
        <div class="input">{{chatform.InputChat(size=102)}}</div>
        <div class="SubmitBtn">{{chatform.Submit()}}</div>
        <div class="FileUploadBox">{{chatform.FileUploadBox()}}</div>
        <div class="STTbtn">{{ chatform.STTbtn() }}</div>
        <div class="RealtimeSTTBtn">{{ chatform.Realtime_STT_Btn() }}</div>

    </form>

    {% if request_lock == False and realtime_stt == True %}

        
        <script>
            
            window.location.replace("/");

        </script>
        
    {% elif request_lock == True %}

        <script>

            exports.can_change_btn = false;

        </script>

    {% else %}

        <script>

            exports.can_change_btn = true;

        </script>

    {% endif %}

        <!--

        <div class="chatpageErrorBoxMargin">
            <div class="alert alert-danger" role="alert" id="errorBox">
                ErrorREALTIMESTT: You can disable the realtime STT by rerun the webserver.py
            </div>
        </div> -->

        

    

    {% if chatform.errors %}
        <ul class="errors">
            {% for error in chatform.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <script>
        
        var STTRecording = false;
        var STTBtn = document.getElementById("STTbtn");
        var Realtime_STT_Btn = document.getElementById("Realtime_STT_btn");
        var enabledRealtimeSTT = false;

        exports.can_change_btn = true;

        function realtimeSTTBtnOnclick(){

            if (enabledRealtimeSTT == false){

                enabledRealtimeSTT = true;

                Realtime_STT_Btn.value = "Disable Realtime STT";

                Realtime_STT_Btn.className = "btn btn-danger";

            } else {

                enabledRealtimeSTT = false;

                Realtime_STT_Btn.value = "Enable Realtime STT";

                Realtime_STT_Btn.className = "btn btn-success";

            }

        }

        function recordbtn(){

            if (exports.can_change_btn == true){

                if (STTRecording == false){

                    STTRecording = true;

                    STTBtn.value = "Recording...";

                    STTBtn.className = "btn btn-danger";

                } else {

                    STTRecording = false;

                    STTBtn.value = "Record";

                    STTBtn.className = "btn btn-success";

                }
            }
        }
        
    </script>

{% endblock %}
