{% extends "header.html" %}

{% block body %}

    <form method="POST" class="settingsForm">

        {{ settingform.hidden_tag() }}

        {% if output != "" %}

            <div class="alert alert-danger" role="alert" id="errorBox">
                {{ output }}
            </div>

        {% endif %}

        <h3 class="GeneralSettingText">General Setting</h3>

        <div class="char_input">{{ settingform.character_name_input(size=60) }}</div>
        <div class="user_name_input">{{ settingform.user_name_input() }}</div>
        <div class="thinking_model_name">{{ settingform.thinking_model_name_input() }}</div>
        <div class="vision_model_name">{{ settingform.vision_model_name_input() }}</div>
        <div class="char_desc">{{ settingform.character_desc_input(size=60) }}</div>

        
        <div class="clearbtn">{{ settingform.ClearBtn() }}</div>
        <div class="clearfilesbtn">{{ settingform.ClearFilesBtn() }}</div>


        <h3 class="TTSSettingText">TTS Settings</h3>

        <div class="form-check form-switch">

            <div class="TTSonoff">{{settingform.TTS_onoff.label ~ settingform.TTS_onoff() }}</div>

        </div>

        <div class="TTSmodelnameinput">{{ settingform.TTS_model_name_input() }}</div>
        <div class="clearTTSwavsbtn">{{ settingform.Clear_TTS_wavs_Btn() }}</div>

        <h3 class="STTSettingText">STT Settings</h3>

        <div class="STTmodelnameinput">{{ settingform.STT_model_name_input() }}</div>
        <div class="clearSTTwavsbtn">{{ settingform.Clear_STT_wavs_Btn() }}</div>

        <h3 class="RealtimeSTTSettingText">Realtime STT Settings(Required rerun the server)</h3>
        <div class="RealtimeSTTmodelnameinput">{{ settingform.realtime_STT_model_name_input() }}</div>

        <h3 class="PngtuberSettingText">Character viewer Settings(Beta)</h3>
        <div class="PngtuberBtn">{{ settingform.Pngtuber_Btn() }}</div>

        <div class="settingsubmitbtn">{{ settingform.Submit() }}</div>

        {% if settingform.errors %}
            <ul class="errors">
                {% for error in settingform.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </form>
        

{% endblock %}